{% extends 'base.html' %}

{% block title %} Change Password Done {% endblock %}

{% block breadcrumb_navigation %}
	<a href="{% url 'home_url' %}" class="css-bar-item breadcrumb__link" >Forum</a>
	<span class="css-bar-item">/</span>
	<a href="{% url 'password_change_url' %}" class="css-bar-item breadcrumb__link" >Zmiana hasła</a>
	<span class="css-bar-item">/</span>
	<a href="{% url 'password_change_done_url' %}" class="css-bar-item  breadcrumb__link" >Sukces</a>
	<span class="css-bar-item">/</span>
{% endblock %}

{% block content %}
	<div class="css-card-4 css-light-grey css-align-center-50">
		<div class="css-panel css-padding-large notification--success">
			<span class="material-symbols-outlined css-margin-right">
				check_circle
			</span>
			<span>Twoje hasło zostało pomyślnie zmienione!</span>
		</div>
	</div>
{% endblock %}

