{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block breadcrumb_navigation %}
	<a href="{% url 'home_url' %}" class="css-bar-item breadcrumb__link" >Forum</a>
	<span class="css-bar-item">/</span>
	<a href="{% url 'password_change_url' %}" class="css-bar-item breadcrumb__link" >Zmiana hasła</a>
	<span class="css-bar-item">/</span>
{% endblock %}

{% block content %}
	<div class="css-card-4 css-grey-80 css-padding form--modal css-align-center-50">
		<div class="css-container"><h4 class="form--modal__title">Zmiana hasła</h4></div>
		<form method="post" class="css-form-element form--modal__input" novalidate>
			{% csrf_token %}
			{% include 'form_template.html' %}
			<button type="submit" class="css-button button--primary css-margin-top" >Zmień</button>
		</form>
	</div>
{% endblock %}